<h1>Listing config_files</h1>

<table>
  <tr>
  </tr>

<% @config_files.each do |config_file| %>
  <tr>
    <td><%= link_to 'Show', config_file %></td>
    <td><%= link_to 'Edit', edit_config_file_path(config_file) %></td>
    <td><%= link_to 'Destroy', config_file, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New config_file', new_config_file_path %>