<h1>Editing pbx_detail</h1>

<% form_for(@pbx_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pbx_detail %> |
<%= link_to 'Back', pbx_details_path %>