<h1>Listing pbx_details</h1>

<table>
  <tr>
  </tr>

<% @pbx_details.each do |pbx_detail| %>
  <tr>
    <td><%= link_to 'Show', pbx_detail %></td>
    <td><%= link_to 'Edit', edit_pbx_detail_path(pbx_detail) %></td>
    <td><%= link_to 'Destroy', pbx_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pbx_detail', new_pbx_detail_path %>